@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@400;600&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --primary-gradient-from: 255, 126, 95;  /* #ff7e5f */
  --primary-gradient-via: 255, 60, 131;   /* #ff3c83 */
  --primary-gradient-to: 182, 66, 255;    /* #b642ff */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-brand-gradient {
  background-image: linear-gradient(
    to right,
    rgb(var(--primary-gradient-from)),
    rgb(var(--primary-gradient-via)),
    rgb(var(--primary-gradient-to))
  );
}
